<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container" id="itemContainer">
        <ul class="collection with-header">
            <% if(items.length) { %>
                <% items.forEach(item => { %>
                    <li class="collection-item">
                        <div>
                            <a href="/items/<%= item._id %>">
                                <%= item.name %> $ <%= item.price %> 
                            </a>
                            <a href="#!" class="secondary-content">
                                <i class="material-icons modal-trigger" data-id="<%= item._id %>" href="#edit_item_model">edit</i>
                                <i class="material-icons" data-id="<%= item._id %>">delete</i>
                            </a>
                        </div>
                    </li>
                <% }) %>
            <% } else { %> 
                <li>There are no item.</li>
            <% } %> 
        </ul>
        <div id="edit_item_model" class="modal">
            <div class="modal-content">
                <h4>Edit form</h4>
                <form action="" id="edit_form">
                    <input type="text" name="name" placeholder="input name"/>
                    <input type="number" name="price" placeholder="input price"/>
                    <button class="btn">Update</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        var updateId; 
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
        });

        edit_form.onsubmit = async function(e) {
            e.preventDefault();
            let data = new FormData(edit_form);
            let response = await fetch(`/items/${updateId}`, {
                method: 'PUT',
                body: new URLSearchParams(data),
                headers: new Headers({
                    'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8'
                })
            })
            let result = await response.json();
            console.log(result);
            edit_form.reset();
            window.location.reload();
            alert(result.msg);
        }

        itemContainer.onclick = function (e) {
            if (e.target.textContent === 'edit') {
                updateId = e.target.getAttribute('data-id');
            }

            if (e.target.textContent === 'delete') {
                const id = e.target.getAttribute('data-id');
                const endpoint = `/items/${id}`;
                fetch(endpoint, {
                    method: 'DELETE'
                }).then(res => res.json())
                .then(data => {
                    window.location.href = data.redirect_link;
                }).catch(err => console.log(err));
            }
        }

    </script>
</body>
</html>